# Supabase Configuration
SUPABASE_URL=https://rpcuvehwndbqsgvehlwb.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJwY3V2ZWh3bmRicXNndmVobHdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0MjEzNTksImV4cCI6MjA4Nzk5NzM1OX0.MDofMSqC5UCS2zx66vOZNM7cKiYgm_1yGBhwGzpeb7k
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJwY3V2ZWh3bmRicXNndmVobHdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQyMTM1OSwiZXhwIjoyMDg3OTk3MzU5fQ.koDH9HvdMxIgfbzp--A5RsYlJNNjr9tX88iVr1nNhGM


# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=6HOTKbw5pgSwB1d6RFCZVeLok183IfSNp6t2LO3XWWN6rTIuQ4phZ4FY4tQSi4O9eV217eYoYCfZyGz3UPMqbg==

# Email Configuration (Optional)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Frontend URL
FRONTEND_URL=http://localhost:5173
